home-server/n8n/workflows/source_collector.json
{
  "name": "Source Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-collector",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM source_sync WHERE sync_status != 'error' OR last_sync_at < NOW() - INTERVAL '24 hours';"
      },
      "id": "get-sources",
      "name": "Get Sources to Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Auditor DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process each source and fetch updates\nconst sources = $input.all();\nconst candidates = [];\n\nfor (const source of sources) {\n  const s = source.json;\n  \n  try {\n    if (s.source_type === 'github_releases') {\n      // Fetch GitHub releases\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: s.source_url,\n        headers: {\n          'Accept': 'application/vnd.github.v3+json',\n          'User-Agent': 'n8n-claude-config-auditor'\n        }\n      });\n      \n      // Look for relevant updates in release notes\n      for (const release of response.slice(0, 5)) {\n        const body = release.body || '';\n        \n        // Look for configuration-related changes\n        if (body.toLowerCase().includes('config') || \n            body.toLowerCase().includes('setting') ||\n            body.toLowerCase().includes('permission') ||\n            body.toLowerCase().includes('security')) {\n          candidates.push({\n            source: s.source_name,\n            source_url: release.html_url,\n            title: `${release.tag_name}: ${release.name || 'New Release'}`,\n            description: body.substring(0, 500),\n            version: release.tag_name\n          });\n        }\n      }\n    }\n  } catch (e) {\n    candidates.push({\n      source: s.source_name,\n      error: e.message,\n      is_error: true\n    });\n  }\n}\n\nreturn candidates.map(c => ({ json: c }));"
      },
      "id": "fetch-sources",
      "name": "Fetch External Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-candidate",
              "leftValue": "={{ $json.is_error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-candidates",
      "name": "Filter Valid Candidates",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidates (source, source_url, title, description)\nVALUES ($1, $2, $3, $4)\nON CONFLICT DO NOTHING;",
        "options": {
          "queryParams": "={{ [$json.source, $json.source_url, $json.title, $json.description] }}"
        }
      },
      "id": "insert-candidates",
      "name": "Insert Candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Auditor DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE source_sync SET last_sync_at = NOW(), sync_status = 'success' WHERE source_name = $1;",
        "options": {
          "queryParams": "={{ [$json.source] }}"
        }
      },
      "id": "update-sync-status",
      "name": "Update Sync Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Auditor DB"
        }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Sources to Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sources to Sync": {
      "main": [
        [
          {
            "node": "Fetch External Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch External Sources": {
      "main": [
        [
          {
            "node": "Filter Valid Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Candidates": {
      "main": [
        [
          {
            "node": "Insert Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Candidates": {
      "main": [
        [
          {
            "node": "Update Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
